<li>
        <table>
                <tr>
                        <td>
                               
                                        {{burger_name}}

                                        <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
                                                {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
                                        </button>

                                        <button class="change-devoured" data-id="{{id}}">DELETE!</button>
                                

                                <div class="profile2">
                                        {{burger_name}}

                                        <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
                                                {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
                                        </button>

                                        <button class="change-devoured" data-id="{{id}}">DELETE!</button>   
                                                                             


                                        <a href="#" class="change-devoured" data-id="{{id}}" data-gamemove={{gamemove}} data-cel="cel6" data-player="{{lastPlayer}}">
                                                <img src="assets/images/avatar3.svg" alt="">
                                        </a>
                                       

                                </div>

                                <p class="page-inner ">{{burger_name}} </p>




                        </td>
                </tr>
        </table>
</li>